/* navbar.component.css */
/* navbar.component.css */

.main{
  background-image: url("/../assets/img/Fondo.png") !important;
  background-size: cover;
  color: #fff;
}

/*.navbar navbar-expand-lg navbar-light{
  margin:0%;
  padding:0%;
}*/

.container{
  margin: 0px 20px;
  padding: 0px 10px;
} 


.navbar {
    width: 100%;
    background-size: cover;
    color: #fff;
    /* Puedes ajustar otros estilos según tus necesidades */
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 60px;
    /* Puedes ajustar otros estilos según tus necesidades */
  }
  .navbar-nav .nav-link {
    color: #fff !important;
    margin: 0 5px;
  }
  
  .logo-inicio {
    width: fit-content;
    height: fit-content;
  }
  
  
  
