<div class="container mt-5">
  <h3>REQUISITO PREVIO EN ACCIÓN POPULAR</h3>
  <p>
    El actor debe solicitar anticipadamente a la autoridad o particular que
    adopte las medidas necesarias para proteger el derecho o interés colectivo
    amenazado o violado. EXCEPCION DE AGOTAMIENTO DE PRERREQUISITO PARA
    INSTAURAR UNA ACCION POPULAR - Es procedente la acción popular que no cumpla
    el requisito previo cuando exista inminente peligro de ocurrir un perjuicio
    irremediable en contra de los derechos e intereses colectivos.
  </p>

  <form [formGroup]="CartaRenuenciaAp" (ngSubmit)="onSubmit()">
    <!-- Numeral 1 -->
    <div class="d-flex align-items-start mt-5">
      <div
        class="rounded-circle bg-primary text-white p-1 mr-2 d-flex align-items-center justify-content-center"
        style="width: 25px; height: 25px"
      >
        <strong>1</strong>
      </div>
      <div class="form-group">
        <!-- Label: ¿A quién va dirigida carta? -->
        <label class="text-primary" for="destinatario"
          ><strong>¿A quién va dirigida esta carta?</strong></label
        >
        <div id="destinatarioHelpBlock" class="form-text">
          Indica en los siguientes campos los datos de la la persona o autoridad
          que debe proteger o evitar que se cause el daño colectivo
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Input para la Ciudad -->
      <div class="col-md-6">
        <div class="form-group mt-2">
          <label for="ciudad"><strong>Ciudad</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              formControlName="ciudad"
              id="ciudad"
              placeholder="Ingresa la ciudad"
              [class.is-invalid]="
                CartaRenuenciaAp.get('ciudad')?.invalid &&
                CartaRenuenciaAp.get('ciudad')?.touched
              "
              required
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="La ciudad de quien escribe y la fecha en la que se escribe dejan constancia del lugar y la fecha en la que se firma."
            >
              <i
                class="fas fa-exclamation-circle text-white"
                style="width: 25px; height: 25px"
              ></i>
            </button>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('ciudad')?.invalid &&
              CartaRenuenciaAp.get('ciudad')?.touched
            "
            class="text-danger"
          >
            La ciudad es obligatoria
          </small>
        </div>
      </div>

      <!-- Input para la Fecha -->
      <div class="col-md-6 mt-2">
        <div class="form-group">
          <label for="fecha"><strong>Fecha</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              class="form-control"
              type="date"
              formControlName="fecha"
              name="fecha"
              id="fecha"
              required
              (input)="onDateChange($event)"
              [class.is-invalid]="
                CartaRenuenciaAp.get('fecha')?.invalid &&
                CartaRenuenciaAp.get('fecha')?.touched
              "
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <div>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="IMPORTANTE: La fecha más relevante es aquella en la que se presenta en la petición ante la entidad. La fecha en la que se envía por correo electrónico o la fecha en la que se presenta en la ventanilla."
              >
                <i
                  class="fas fa-exclamation-circle text-white"
                  style="width: 25px; height: 25px"
                ></i>
              </button>
            </div>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('fecha')?.invalid &&
              CartaRenuenciaAp.get('fecha')?.touched
            "
            class="text-danger"
          >
            La fecha es obligatoria
          </small>
        </div>
      </div>
    </div>
    <!-- Input para el nombre de la entidad -->
    <div class="form-group mt-2">
      <label for="nombreAutoridad"
        ><strong
          >Nombre de la persona o autoridad que debe proteger o evitar que se
          cause el daño colectivo</strong
        >-</label
      ><label class="text-primary"><strong>(requerido)</strong></label>
      <!-- Icono de alerta y mensaje de ayuda -->
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="nombreAutoridad"
          id="nombreAutoridad"
          placeholder="Nombre de la persona o autoridad."
          [class.is-invalid]="
            CartaRenuenciaAp.get('nombreAutoridad')?.invalid &&
            CartaRenuenciaAp.get('nombreAutoridad')?.touched
          "
          required
        />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Nombre de la persona o autoridad que debe proteger o
            evitar que se cause el daño colectivo."
        >
          <i
            class="fas fa-exclamation-circle text-white"
            style="width: 25px; height: 25px"
          ></i>
        </button>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('nombreAutoridad')?.invalid &&
          CartaRenuenciaAp.get('nombreAutoridad')?.touched
        "
        class="text-danger"
      >
        El nombre de la autoridad es obligatorio
      </small>
    </div>

    <!-- Input para la entidad de la autoridad -->
    <div class="form-group mt-2">
      <label for="entidadAutoridad"
        ><strong>Entidad de la persona o autoridad</strong>-</label
      ><label class="text-primary"><strong>(requerido)</strong></label>
      <!-- Icono de alerta y mensaje de ayuda -->
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="entidadAutoridad"
          id="entidadAutoridad"
          placeholder="Entidad de la persona o autoridad que recibe la carta"
          [class.is-invalid]="
            CartaRenuenciaAp.get('entidadAutoridad')?.invalid &&
            CartaRenuenciaAp.get('entidadAutoridad')?.touched
          "
          required
        />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Entidad de la persona o autoridad que recibe la carta"
        >
          <i
            class="fas fa-exclamation-circle text-white"
            style="width: 25px; height: 25px"
          ></i>
        </button>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('entidadAutoridad')?.invalid &&
          CartaRenuenciaAp.get('entidadAutoridad')?.touched
        "
        class="text-danger"
      >
        La entidad de la autoridad es obligatoria
      </small>
    </div>

    <!-- Input para la ciudad de la entidad -->
    <div class="form-group mt-2">
      <label for="ciudadAutoridad"
        ><strong>Ciudad de la persona o autoridad</strong>-</label
      ><label class="text-primary"><strong>(requerido)</strong></label>
      <!-- Icono de alerta y mensaje de ayuda -->
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="ciudadAutoridad"
          id="ciudadAutoridad"
          placeholder="Ciudad de la persona o autoridad que recibe la carta"
          [class.is-invalid]="
            CartaRenuenciaAp.get('ciudadAutoridad')?.invalid &&
            CartaRenuenciaAp.get('ciudadAutoridad')?.touched
          "
          required
        />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Ciudad de la persona o autoridad que recibe la carta."
        >
          <i
            class="fas fa-exclamation-circle text-white"
            style="width: 25px; height: 25px"
          ></i>
        </button>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('ciudadAutoridad')?.invalid &&
          CartaRenuenciaAp.get('ciudadAutoridad')?.touched
        "
        class="text-danger"
      >
        La ciudad es obligatoria
      </small>
    </div>

    <!-- Input para la direccion Juez administrativo -->
    <div class="form-group mt-2">
      <label for="direccionAutoridad"
        ><strong>Dirección de la persona o autoridad</strong>-</label
      ><label class="text-primary"><strong>(requerido)</strong></label>
      <!-- Icono de alerta y mensaje de ayuda -->
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="direccionAutoridad"
          id="direccionAutoridad"
          placeholder="Dirección de la autoridad administrativa que recibe la carta"
          [class.is-invalid]="
            CartaRenuenciaAp.get('direccionAutoridad')?.invalid &&
            CartaRenuenciaAp.get('direccionAutoridad')?.touched
          "
          required
        />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Dirección de la autoridad administrativa que recibe la carta."
        >
          <i
            class="fas fa-exclamation-circle text-white"
            style="width: 25px; height: 25px"
          ></i>
        </button>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('direccionAutoridad')?.invalid &&
          CartaRenuenciaAp.get('direccionAutoridad')?.touched
        "
        class="text-danger"
      >
        La dirección es obligatoria
      </small>
    </div>

    <!--Numeral 2-->
    <div class="d-flex align-items-start mt-5">
      <div
        class="rounded-circle bg-primary text-white p-1 mr-2 d-flex align-items-center justify-content-center"
        style="width: 25px; height: 25px"
      >
        <strong>2</strong>
      </div>
      <div class="form-group">
        <!-- Label: Ley o acto incumplido  -->
        <label class="text-primary" for="destinatario"
          ><strong>Referencia y Solicitud</strong></label
        >
        <div id="destinatarioHelpBlock" class="form-text">
          Indica en los siguientes los campos la referencia y solicitud de la
          carta.
        </div>
      </div>
    </div>

    <div class="form-group mt-2">
      <label for="referencia">
        <strong>Referencia</strong>-<label class="text-primary"
          ><strong>(requerido)</strong></label
        >
      </label>
      <!-- Icono de alerta y mensaje de ayuda -->
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="referencia"
          id="referencia"
          placeholder="Referencia de la carta. Ejemplo: Agotamiento vía administrativa"
          [class.is-invalid]="
            CartaRenuenciaAp.get('referencia')?.invalid &&
            CartaRenuenciaAp.get('referencia')?.touched
          "
          required
        />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Referencia de la carta"
        >
          <i
            class="fas fa-exclamation-circle text-white"
            style="width: 25px; height: 25px"
          ></i>
        </button>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('referencia')?.invalid &&
          CartaRenuenciaAp.get('referencia')?.touched
        "
        class="text-danger"
      >
        La referencia es obligatoria
      </small>
    </div>

    <!-- Campo para la solicitud-->
    <div class="form-group mt-2">
      <label for="solicitud"><strong>Solicitud </strong> - </label
      ><label class="text-primary"><strong>(requerido)</strong></label>
      <!-- Icono de alerta y mensaje de ayuda -->
      <div class="input-group">
        <textarea
          [class.is-invalid]="
            CartaRenuenciaAp.get('solicitud')?.invalid &&
            CartaRenuenciaAp.get('solicitud')?.touched
          "
          rows="6"
          class="form-control"
          formControlName="solicitud"
          id="solicitud"
          placeholder="Ingresa la solicitud que deseas realizar en esta petición"
          required
        ></textarea>
        <div>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Ingresa la solicitud que deseas realizar en esta petición"
          >
            <i
              class="fas fa-exclamation-circle text-white"
              style="width: 25px; height: 25px"
            ></i>
          </button>
        </div>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('solicitud')?.invalid &&
          CartaRenuenciaAp.get('solicitud')?.touched
        "
        class="text-danger"
      >
        La solicitud es obligatoria
      </small>
    </div>

    <!-- Numeral 3-->
    <div class="d-flex align-items-start mt-5">
      <div
        class="rounded-circle bg-primary text-white p-1 mr-2 d-flex align-items-center justify-content-center"
        style="width: 25px; height: 25px"
      >
        <strong>3</strong>
      </div>
      <div class="form-group">
        <!-- Label: Hechos -->
        <label class="text-primary" for="destinatario"
          ><strong>Hechos</strong></label
        >
        <div id="destinatarioHelpBlock" class="form-text" style="font-size: 18px;">
          Para agregar mas campos use el botón de <strong class="text-primary"> + </strong>  para eliminar use <strong class="text-danger"> - </strong>
        </div>
      </div>
    </div>

    <!-- Campo para los hechos -->
    <div class="form-group mt-2">
      <label for="hechos"> <strong>HECHOS </strong> - </label
      ><label class="text-primary"><strong>(requerido)</strong> </label>
      <!-- Icono de alerta y mensaje de ayuda -->

      <ng-container
        formArrayName="hechos"
        *ngFor="
          let row of hechos.controls;
          index as i;
          first as isFirst;
          last as isLast
        "
        class="input-group"
      >
        <ng-container *ngIf="isFirst" [formGroupName]="i">
          <div class="input-group">
            <textarea
              [class.is-invalid]="
                CartaRenuenciaAp.get('hechos')?.invalid &&
                CartaRenuenciaAp.get('hechos')?.touched &&
                isLast
              "
              rows="6"
              class="form-control"
              formControlName="contenido"
              id="hechos{{ i }}"
              placeholder="Hacer el relato de las razones que fundamentan el incumplimiento"
              required
            ></textarea>

            <div class="d-flex flex-column">
              <div class="mb-2">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="Hacer el relato de los hechos que configuran el incumplimiento de la norma."
                >
                  <i
                    class="fas fa-exclamation-circle text-white"
                    style="width: 25px; height: 25px"
                  ></i>
                </button>
              </div>
              <div *ngIf="isLast" class="float-end ms-2">
                <!-- Botón para agregar un nuevo campo -->
                <button
                  type="button"
                  class="btn btn-primary mt-2"
                  (click)="agregarHecho()"
                >
                  <i class="fas fa-plus"></i>
                </button>
                <div *ngIf="isLast" class="float-end ms-1">
                  <button
                    type="button"
                    class="btn btn-danger mt-2"
                    (click)="eliminarHecho()"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('hechos')?.invalid &&
              CartaRenuenciaAp.get('hechos')?.touched &&
              isLast
            "
            class="text-danger"
          >
            Los hechos son obligatorios
          </small>
        </ng-container>

        <ng-container *ngIf="!isFirst" [formGroupName]="i">
          <div class="input-group">
            <textarea
              [class.is-invalid]="
                CartaRenuenciaAp.get('hechos')?.invalid &&
                CartaRenuenciaAp.get('hechos')?.touched &&
                isLast
              "
              rows="6"
              class="form-control"
              formControlName="contenido"
              id="hechos{{ i }}"
              placeholder="Hacer el relato de los hechos que configuran el incumplimiento de la norma"
              required
            ></textarea>
            <div *ngIf="isLast" class="float-end ms-2">
              <!-- Botón para agregar un nuevo campo -->
              <button
                type="button"
                class="btn btn-primary mt-2"
                (click)="agregarHecho()"
              >
                <i class="fas fa-plus"></i>
              </button>
              <div *ngIf="isLast" class="float-end ms-1">
                <button
                  type="button"
                  class="btn btn-danger mt-2"
                  (click)="eliminarHecho()"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('hechos')?.invalid &&
              CartaRenuenciaAp.get('hechos')?.touched &&
              isLast
            "
            class="text-danger"
          >
            Los hechos son obligatorios
          </small>
        </ng-container>
      </ng-container>
    </div>

    <!-- Numeral 4-->
    <div class="d-flex align-items-start mt-5">
      <div
        class="rounded-circle bg-primary text-white p-1 mr-2 d-flex align-items-center justify-content-center"
        style="width: 25px; height: 25px"
      >
        <strong>4</strong>
      </div>
      <div class="form-group">
        <!-- Label: Datos de la persona que hace la solicitud -->
        <label class="text-primary" for="destinatario"
          ><strong>Datos de la persona que hace esta carta</strong></label
        >
        <div id="destinatarioHelpBlock" class="form-text">
          Indica en los siguientes los campos los datos de la persona que hace
          esta solicitud.
        </div>
      </div>
    </div>

    <div class="form-group mt-5">
      <label for="nombreSolicitante"
        ><strong>Nombre(s) y Apellido(s)</strong> -</label
      ><label class="text-primary"><strong>(requerido)</strong></label>
      <div class="input-group">
        <input
          [class.is-invalid]="
            CartaRenuenciaAp.get('nombreSolicitante')?.invalid &&
            CartaRenuenciaAp.get('nombreSolicitante')?.touched
          "
          type="text"
          class="form-control"
          formControlName="nombreSolicitante"
          id="nombreSolicitante"
          placeholder="Ej: Juan Perez"
          required
        />
        <!-- Icono de alerta y mensaje de ayuda -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Escribir el nombre y apellido de la persona que hace la solicitud."
        >
          <i
            class="fas fa-exclamation-circle text-white"
            style="width: 25px; height: 25px"
          ></i>
        </button>
      </div>
      <small
        *ngIf="
          CartaRenuenciaAp.get('nombreSolicitante')?.invalid &&
          CartaRenuenciaAp.get('nombreSolicitante')?.touched
        "
        class="text-danger"
      >
        El nombre y apellido son obligatorios
      </small>
    </div>

    <div class="row">
      <!-- Input para los datos del solicitante-->
      <div class="col-md-6">
        <!-- Select para el tipo de documento -->
        <div class="form-group">
          <label for="tipoDocumento"
            ><strong>Tipo de documento</strong> -
            <label class="text-primary"><strong>(requerido)</strong> </label>
          </label>
          <select
            class="form-control"
            formControlName="tipoDocumento"
            id="tipoDocumento"
            required
          >
            <option value="" disabled selected>
              Seleccione un tipo de documento
            </option>
            <option value="cedulaC">Cédula de ciudadanía</option>
            <option value="cedulaE">Cédula de extranjería</option>
            <option value="tarjetaI">Tarjeta de identidad</option>
            <option value="otro">Otro</option>
          </select>
          <small
            *ngIf="
              CartaRenuenciaAp.get('tipoDocumento')?.invalid &&
              CartaRenuenciaAp.get('tipoDocumento')?.touched
            "
            class="text-danger"
          >
            Por favor, seleccione un tipo de documento
          </small>
        </div>
      </div>

      <!-- Input para la cedula -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="cedulaSolicitante"
            ><strong>Cédula de Ciudadanía</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              [class.is-invalid]="
                CartaRenuenciaAp.get('cedulaSolicitante')?.invalid &&
                CartaRenuenciaAp.get('cedulaSolicitante')?.touched
              "
              type="number"
              class="form-control"
              formControlName="cedulaSolicitante"
              id="cedulaSolicitante"
              placeholder="Solo numeros, sin espacios"
              required
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Solo numeros, sin espacios."
            >
              <i
                class="fas fa-exclamation-circle text-white"
                style="width: 25px; height: 25px"
              ></i>
            </button>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('cedulaSolicitante')?.invalid &&
              CartaRenuenciaAp.get('cedulaSolicitante')?.touched
            "
            class="text-danger"
          >
            La cédula de ciudadania es obligatoria.
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Input para la expedicion de la cedula -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="cedulaExpedicion"
            ><strong>Ciudad de expedición de la cédula</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              [class.is-invalid]="
                CartaRenuenciaAp.get('cedulaExpedicion')?.invalid &&
                CartaRenuenciaAp.get('cedulaExpedicion')?.touched
              "
              type="text"
              class="form-control"
              formControlName="cedulaExpedicion"
              id="cedulaExpedicion"
              placeholder="Ciudad de expedición de la cédula."
              required
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Ciudad de expedición de la cédula."
            >
              <i
                class="fas fa-exclamation-circle text-white"
                style="width: 25px; height: 25px"
              ></i>
            </button>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('cedulaExpedicion')?.invalid &&
              CartaRenuenciaAp.get('cedulaExpedicion')?.touched
            "
            class="text-danger"
          >
            La ciudad de expedición de la cédula es obligatorio.
          </small>
        </div>
      </div>

      <!-- Input para la direccion del solicitante -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="direccionSolicitante"
            ><strong>Dirección de residencia</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              [class.is-invalid]="
                CartaRenuenciaAp.get('direccionSolicitante')?.invalid &&
                CartaRenuenciaAp.get('direccionSolicitante')?.touched
              "
              type="text"
              class="form-control"
              formControlName="direccionSolicitante"
              id="direccionSolicitante"
              placeholder="Dirección de residencia del solicitante"
              required
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Dirección de residencia del solicitante"
            >
              <i
                class="fas fa-exclamation-circle text-white"
                style="width: 25px; height: 25px"
              ></i>
            </button>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('direccionSolicitante')?.invalid &&
              CartaRenuenciaAp.get('direccionSolicitante')?.touched
            "
            class="text-danger"
          >
            La dirección de residencia es obligatoria.
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Input para el telefono -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="telefonoSolicitante"><strong>Teléfono</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              [class.is-invalid]="
                CartaRenuenciaAp.get('telefonoSolicitante')?.invalid &&
                CartaRenuenciaAp.get('telefonoSolicitante')?.touched
              "
              type="number"
              class="form-control"
              formControlName="telefonoSolicitante"
              id="telefonoSolicitante"
              placeholder="Solo numeros."
              required
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Telefono al que se le notificara la carta al solicitante."
            >
              <i
                class="fas fa-exclamation-circle text-white"
                style="width: 25px; height: 25px"
              ></i>
            </button>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('telefonoSolicitante')?.invalid &&
              CartaRenuenciaAp.get('telefonoSolicitante')?.touched
            "
            class="text-danger"
          >
            El telefono es obligatorio
          </small>
        </div>
      </div>

      <!-- Input para la ciudad del solicitante -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="ciudadSolicitante"
            ><strong>Ciudad de residencia</strong> -</label
          ><label class="text-primary"><strong>(requerido)</strong></label>
          <div class="input-group">
            <input
              [class.is-invalid]="
                CartaRenuenciaAp.get('ciudadSolicitante')?.invalid &&
                CartaRenuenciaAp.get('ciudadSolicitante')?.touched
              "
              type="text"
              class="form-control"
              formControlName="ciudadSolicitante"
              id="ciudadSolicitante"
              placeholder="Ej: Bogotá D.C."
              required
            />
            <!-- Icono de alerta y mensaje de ayuda -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="custom-tooltip"
              data-bs-title="Ciudad de residencia del solicitante"
            >
              <i
                class="fas fa-exclamation-circle text-white"
                style="width: 25px; height: 25px"
              ></i>
            </button>
          </div>
          <small
            *ngIf="
              CartaRenuenciaAp.get('ciudadSolicitante')?.invalid &&
              CartaRenuenciaAp.get('ciudadSolicitante')?.touched
            "
            class="text-danger"
          >
            La ciudad de residencia es obligatorio
          </small>
        </div>
      </div>
    </div>

    <!-- Botón de envío -->
    <div class="d-flex justify-content-center align-items-center mt-3 p-5">
      <button
        type="submit"
        class="btn btn-primary btn-icon"
        [disabled]="!CartaRenuenciaAp.valid"
      >
        <i class="fas fa-file-alt me-2"></i> Descargar documento
      </button>
    </div>
  </form>
</div>
