<div
  class="container-fluid d-flex align-items-center justify-content-center mt-3"
>
  <!-- Utiliza la clase "container-fluid" para que la tarjeta ocupe todo el ancho disponible -->
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        La aplicación de generación de documentos jurídicos ofrece una solución
        eficiente y moderna para simplificar el proceso de creación de
        documentos legales. Mediante el uso de formularios intuitivos y fáciles
        de completar, los usuarios pueden proporcionar la información relevante
        de manera precisa y detallada. Desde cartas de renuencia hasta acciones
        de cumplimiento y peticiones legales, la plataforma permite a los
        usuarios elegir el tipo de documento que desean generar.
        <br><br>
        Una vez que se ha completado el formulario con la información requerida, la aplicación
        utiliza esta entrada para crear automáticamente un archivo de documento
        en formato Word. Esta característica elimina la necesidad de realizar
        tediosos pasos manuales y reduce significativamente el tiempo y los
        recursos invertidos en la creación de documentos legales personalizados.
      </p>
    </div>
  </div>
</div>
